<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
    <link rel="stylesheet" href="../css/estilo-productos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
     <div class="imagen-logo">
       <header class="header">
            <div class="div_logo">
              <a href="../index.html"><img src="../assets/img/images-logo-redondo.png" alt="logo" class="logo"> </a> 
            </div>
            <div>
              <nav class="lista-de-menu">
                <ul>
                  <li><a href="../index.html" class="menu">HOME</a></li>
                  <li><a href="nosotros.html" class="menu">NOSOTROS</a></li>
                  <li><a href="#" class="menu">PRODUCTOS</a></li>
                  <li><a href="contacto.html" class="menu">CONTACTO</a></li>
                  <li><a href="opiniones de nuestros clientes.html" class="menu">NUESTROS CLIENTES</a></li>
                </ul>
              </nav>
            </div>
        </header> 
        <main>
          <div>
            <h3 class="titulo">LOS MEJORES PRODUCTOS</h3>
          </div>
            <div class="tabla">
              <table class="cuadro" border="3" cellpadding="8" > 
                  <tr class="cuerpoTabla">
                     <th class="letras">TAMAÑO</th>
                     <th class="letras">MODULOS</th>
                     <th class="letras">POTENCIA</th>
                     <th class="letras">PRECIO</th>
                    </tr>
                   <tr>
                     <td class="letras">SMALL</td>
                     <td class="letras">12 Modulos</td>
                     <td class="letras">3,9 KWs</td>
                     <td class="letras">30.000</td>
                    </tr>
                   <tr>
                     <td class="letras">MED</td>
                     <td class="letras">18 Modulos</td>
                     <td class="letras"> 5,85 KWs</td>
                      <td class="letras">40.000</td>
                    </tr>  
                   <tr>
                     <td class="letras">LARGE</td>
                     <td class="letras">12 Modulos</td>
                     <td class="letras">7,15 KWs</td>
                     <td class="letras">50.000</td>
                   </tr> 
                   <tr>
                     <td class="letras">XLARGE</td>
                     <td class="letras">12 Modulos</td>
                     <td class="letras">9,1 KWs</td>
                     <td class="letras">80.000</td>
                    </tr>  
               </table>
            </div>
            <div class="video">
             <link> <iframe class="video-ajuste" width="560" height="315" src="https://www.youtube.com/embed/q5bMAz4NK0c" 
             title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="mainDiv">
                   <div>
                      <img src="../assets/img/descarga (2).jfif" alt="trabajores" class="trabajadores">
                   </div>
                      <div>
                        <p> 
                           Profesional y experimentado
                           Nuestros expertos altamente capacitados lo ayudarán a construir el sistema 
                           solar perfecto para su hogar.
                        </p>
                     </div>
                     <div>
                        <img src="../assets/img/panel2.jfif" alt="colocadores" class="colocadores">
                      </div>
                        <div> 
                         <p>
                            Paneles solares y baterías
                            Somos de propiedad local y operamos con un personal 
                            capacitado que lo ayudará a encontrar los mejores paneles y
                             baterías para un sistema altamente efectivo.
                          </p>
             </div>
        </main>
</body>
      <footer class="pie">
            <h3>Redes Sociales</h3>
             <div class="redes-display">
                <a href="https://www.instagram.com/?hl=es-la"  rel="instagram" target="blank"> <img src="../assets/img/insta.jfif" alt="logo intagram" class="redes"> </a>
                <a href="https://www.whatsapp.com/"  rel="whatsapp" target="blank"> <img src="../assets/img/whatsapp.jfif" alt="logo whatsapp" class="redes"> </a>
                <a href="https://www.facebook.com/"  rel="face" target="blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"> </a>
             </div>
             <div>
               <a href="views/contacto.html"></a>
             </div>
      </footer>     
</html>    